<div class="m-3">
  <%= month_calendar events: @events do |date, events| %>
    <%= date.day %>

    <% events.each do |event| %>
      <% if event.is_a? Bill %>
        <br>
        <%= link_to bill_path(event.id) do %>
          <span class="badge bg-danger"><%= event.name %> - $<%= "%.2f" % event.amount %></span>
        <% end %>
      <% elsif event.is_a? Payday %>
        <br>
        <%= link_to payday_path(event.id) do %>
          <span class="badge bg-success">Payday - <%= event.name %></span>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>

<%= javascript_pack_tag 'calendar', 'data-turbolinks-track': 'reload' %>