<div class="m-3">
  <%= month_calendar events: @events do |date, events| %>
    <%= date.day %>

    <% events.each do |event| %>
      <br><span class="badge bg-danger"><%= event.name %> - $<%= '%.2f' % event.amount %></span>
    <% end %>
  <% end %>
</div>

<%= javascript_pack_tag 'calendar', 'data-turbolinks-track': 'reload' %>