<%= form_with model: bill, html: { class: 'mb-3' } do |form| %>
  <% if bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bill.errors.count, "error") %> prohibited this bill from being saved:</h2>

      <ul>
        <% bill.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="input-group mb-3">
    <%#= form.label :amount, class: 'form-label' %>
    <span class="input-group-text">$</span>
    <%= form.text_field :amount, class: 'form-control' %>
  </div>

  <div class="form-check form-switch mb-3">
    <input class="form-check-input" type="checkbox" id="recurringCheck">
    <label class="form-check-label" for="recurringCheck">Recurring?</label>
  </div>

  <div id="notRecurring">
    <div class="mb-3">
      <%= form.label :date, class: 'form-label' %>
      <%= form.date_field :date, class: 'form-control' %>
    </div>
  </div>

  <div id="recurring" class="visually-hidden">
    <div class="d-flex justify-content-start mb-3">
      <span class="align-self-center flex-shrink-0 me-2">Recurring every</span>
      <%= form.text_field :name, class: 'form-control me-2', style: 'width: inherit' %>
      <select class="form-select" aria-label="Default select example">
        <option value="daily">Day(s)</option>
        <option value="weekly">Week(s)</option>
        <option value="monthly">Month(s)</option>
        <option value="yearly">Year(s)</option>
      </select>
    </div>

<!--    <div class="mb-3">-->
      <%#= form.label :recurring, class: 'form-label' %>
      <%#= form.text_area :recurring, class: 'form-control' %>
<!--    </div>-->
    <div class="d-flex justify-content-start mb-1">
      <span class="align-self-center flex-shrink-0 me-2">From</span>
      <%= form.date_field :recurring, class: 'form-control' %>
      <span class="align-self-center flex-shrink-0 mx-2">until</span>
      <%= form.date_field :recurring, class: 'form-control' %>
    </div>
    <div id="emailHelp" class="form-text mb-3">Leave both these fields blank for an indefinitely repeating event.</div>
  </div>

  <%= form.submit 'Submit', class: 'btn btn-primary' %>
<% end %>
