<div class="px-3 mt-3">
  <h1>Bills</h1>

  <table class="table">
    <thead class="table-light">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Amount</th>
      <th scope="col">Date</th>
      <th scope="col"></th>
    </tr>
    </thead>

    <tbody>
    <% @bills.each do |bill| %>
      <tr>
        <td><%= bill.name %></td>
        <td>$<%= "%.2f" % bill.amount %></td>
        <td><%= bill.date %></td>
        <td style="text-align: end"><%= link_to 'Show', bill %> <%= link_to 'Edit', edit_bill_path(bill) %> <%= link_to 'Destroy', bill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <%= link_to 'New Bill', new_bill_path, class: 'btn btn-primary' %>
</div>
